[r2]
type = s3
provider = Cloudflare
access_key_id = {{ backup_r2_access_key_id }}
secret_access_key = {{ backup_r2_secret_access_key }}
region = auto
endpoint = {{ backup_r2_endpoint }}
acl = private